/*navigation*/
{
	margin: 0;
	padding: 0;
}

#navbar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#navbar ul li a:hover
{
	color: skyblue!important;
}

.navbar
{
	background: #fff;
}

.navbar-toggler
{
	border: none!important; 
}

.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*slider*/
#slider
{
	width: 100%;
}

.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}

/*about*/
#about
{
	padding-top: 50px;
	padding bottom: 50px;
	color: #fff000!importants;
}

#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content
{
	padding-top: 20px;
}

.strength
{
	margin-bottom: 6px;
	font-weight: 600;
}

.progress-bar
{
	border border-radius: 16px;
}

.progress
{
	border-radius: 16px!important;
	margin-bottom: 20px;
}

fa-address-card
{
	color: #F4C430,
}

fa-certificate
{
	color: #F4C430,
}

fa-phoenix-squadron
{
	color: #F4C430,
}

fa-atom
{
	color: #F4C430,
}

h1{
	color: skyblue!important;
}
/*WHY THIS WEBSITE*/
#whythis
{
	background: url('../img/whythis.png');
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
	background-size: cover;
    background-position: center;
    color: red!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#whythis h1
{
	text-align: center;
	color: orange;
	padding-bottom: 10px;
}
#whythis h1::after
{
	content: '';
	background: green;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.whythis
{
	margin-top: 40px;
}

.icon
{
	border: 1px solid green;
	border-radius: 3%; 
}

.icon
{
	border: 1px solid #fff;
	border-radius: 5%; 
}

.whythis .col-md-3:hover{
	background: 	#FFD700;
	cursor: pointer;
	transition: 0.7s;
}

/*chief section starts*/
#chief
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

h1
{
	text-align: center;
	color: orange;
	padding-bottom: 10px;
}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

h4
{
	color: darkgreen;
	text-align: center;
}

.profile-pic
{
 margin-top: 25px; 
}

.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}

.profile-pic .img-box img
{
  filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
  filter: grayscale(0);
  cursor: pointer;
}

.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}

.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}

#chief .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px; 
	border-radius: 50%;
}

.fa-facebook
{
	color: blue;
}

.fa-twitter
{
	color: blue;
}

.fa-wikipedia-w
{
	color: blue;
}


.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.img-box ul li
{
	padding: 5px;
	display: inline-block;
}

.img-box:hover ul
{
	opacity: 1;
}

.img-box ul, .img-box ul li
{
	transition: 0.5s;
}

/*promo*/
#promo
{
	background: url('../img/whythis.png');
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    color: skyblue;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

/*details*/
#details
{
	padding: 40px 0;
	background-color: #efefef;
}

.indian-army
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}

.indian-army:hover
{
	box-shadow: 0 2px 20px #333;
}

.army-head
{
	background-color: skyblue;
	display: inline;
	float: left;
	padding: 10px  5px;
	text-align: center;
	width: 100%;
}

.army-head h2
{
	color: grey;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}

.army-head p
{
	font-size: 25px;
	color: grey;
	font-weight: bold;
	line-height: 30px;
}

.army-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}

.army-content ul li
{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}

ul li:last-child
{
	border: none;
}

.fa-star
{
	color: skyblue;
	margin-right: 10px;
	font-size: 20px;
}

.fa-passport
{
	color: skyblue;
	margin-right: 10px;
	font-size: 20px;
}


.fa-shield-alt
{
	color: #FF0000;
	margin-right: 10px;
	font-size: 20px;
}

.fa-dharmachakra
{
	color: grey;
	margin-right: 10px;
	font-size: 20px;
}
 .fa-map-marker-alt
{
	color: grey;
	margin-right: 10px;
	font-size: 20px;
}
.army-button
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}

.read-btn
{
	background-color: #2196f3;
	border-radius: 3px;
	display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.read-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #3f51b5;
}

a
{
	text-decoration: none!important;
	color: #fff!important;
}

.fa-plane-departure
{
	color: orange;
	margin-right: 10px;
	font-size: 20px;
}

.fa-ship
{
	color: darkblue;
	margin-right: 10px;
	font-size: 20px;
}

.fa-anchor
{
	color: grey;
	margin-right: 10px;
	font-size: 20px;
}

/*GALLERY*/
#gallery
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#gallery .row
{
	margin-top: 30px;
}

.col-md-4
{
	margin: 40px auto;
}

.profile
{
	padding: 70px 10px 10px;
	background-color: #efefef;
}

.user
{
	height: 120px;
	width: 120px;
	border-radius: none;
}

/* .profile img
{
	top: -2px;
	position: absolute;
	left: calc(50%-60px);
	border: 10px solid #fff; 
}*/

.profile h3
{
	font-size: 20px;
	margin-top: 15px;
	color: #007bff;
}

#gallery span
{
	font-size: 12px;
	color: #333;
}

blockquote
{
	font-size: 16px;
	line-height: 30px;
}

blockquote::before
{
	content: '';
	font-size: 50px;
	color: #007bff;
	position: relative;
	line-height: 20px;
	bottom: -15px;
	right: 5px; 
}


blockquote::after
{
	content: '';
	font-size: 50px;
	color: #007bff;
	position: relative;
	line-height: 10px;
	bottom: -15px;
	left: 5px; 
}

.profile:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}

h4
{
	color: #006994;
}

/*conatct44444444*/

#contact
{
	background-color: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}

.contact-form
{
	padding: 15px;
}

.form-control
{
 border-radius: 0 !important;
 border: none !important; 
}

::placeholder
{
	color: #999 !important;
}

.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa
{
 margin: 10px;
 color: #007bff;
 font-weight: bold;
}

.fa-linkedin
{
	color: blue;
}

.fa-facebook-square
{
	color: green;
}

/*footer$$$$$*/
#footer
{
	background: #333;
    color: #fff;
    padding: 12px;
}

.fa-dharmachakra
{
	margin: 3px;
	color: grey;
}